@font-face {
  font-family: 'NotoSansKR';
  src: url(../font/NotoSansKR-Regular.woff) format(woff);
}


@font-face {
  font-family: 'KFOl';
  src: url(../font/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format(woff2);
}

