@charset "UTF-8";
@import "reset.css";
@import "common.css";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 0 80px;
  position: relative;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
}
header .inner h1 {
  display: flex;
}
header .inner h1 a {
  display: block;
  width: 122px;
}
header .inner h1 img {
  max-width: 100%;
}
header .gnb {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .gnb li {
  margin: 0 40px;
  width: 140px;
}
header .gnb a {
  font-size: 18px;
  font-weight: 500;
  color: #ff4713;
}
header .gnb .sub {
  display: none;
}
header .link_wrap {
  display: flex;
  align-items: center;
}
header .link_wrap button {
  border: 1px solid transparent;
  background-color: #ff4713;
  color: #fff;
  border-radius: 20px;
  padding: 8px 22px;
  margin-right: 32px;
  font-size: 15px;
}
header .link_wrap a {
  margin-left: 16px;
}
main {
  background-color: #f7f6f3;
}
main .main_vis .slide01 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .main_menu .inner {
  display: flex;
  position: relative;
}
main .main_menu .half_con {
  width: 50%;
  position: relative;
  height: 100%;
}
main .main_menu .half_con .inn {
  width: 70%;
  margin: 0 auto;
  position: absolute;
  left: 20%;
}
main .main_menu .half_con .tit {
  padding-top: 120px;
}
main .main_menu .half_con .txt {
  font-size: 1.2rem;
  color: #ff4713;
  line-height: 1.6;
}
main .main_menu .half_con h2 {
  position: absolute;
  top: 5rem;
  left: 5rem;
  z-index: 5;
  font-size: 3.7rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}
main .main_menu .half_con h3 {
  font-size: 2.3rem;
  font-weight: 700;
  color: #ff4713;
  text-transform: uppercase;
  margin-bottom: 20px;
}
main .main_menu .half_con .slide02 img {
  width: 100%;
}
main .main_menu .half_con .slide02 .cate_btn {
  position: absolute;
  top: 21%;
  left: 5rem;
  z-index: 5;
}
main .main_menu .half_con .slide02 .cate_btn button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
main .main_menu .half_con .slide02 .cate_btn .sig {
  padding-bottom: 2px;
  border-bottom: 3px solid #fff;
}
main .main_menu .half_con .slide02 .half_con .title h2 {
  font-size: 3.6rem;
  font-weight: 700;
  color: #ff4713;
  font-family: "proxima-nova", "Noto Sans KR", sans-serif;
  font-family: "San Francisco", "Noto Sans KR", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}
main .main_menu .half_con .slide02 .half_con .txt {
  font-size: 1.8rem;
  color: #ff4713;
  line-height: 1.6;
}
main .main_menu .half_con .item_con ul {
  display: flex;
  align-items: center;
  margin: 90px 0 90px 0;
  margin-left: 10%;
}
main .main_menu .half_con .item_con figure {
  width: 210px;
}
main .main_menu .half_con .item_con img {
  width: 100%;
}
main .main_menu .half_con .slide03 {
  height: 320px;
  width: 50%;
}
main .main_menu .half_con .slide03 img {
  width: 100%;
}
main .main_menu .half_con .toping p {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ff4713;
  padding-bottom: 11px;
  border-bottom: 1px solid #ff4713;
}
main .main_menu .half_con .best_wrap {
  display: flex;
  margin-top: 1rem;
  align-items: center;
}
main .main_menu .half_con .best_wrap figure {
  margin-right: 2rem;
  margin-bottom: 1rem;
}
main .main_menu .half_con .best_wrap img {
  display: block;
  width: 70px;
  margin: 0 auto;
}
main .main_menu .half_con .best_wrap .desc {
  text-align: center;
  margin-top: 1.6rem;
  font-size: 0.8rem;
  color: #ff4713;
}
main .main_menu .center_con {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
main .main_menu .center_con .sig_img {
  width: 440px;
}
main .main_menu .center_con .sig_img img {
  width: 100%;
}
main .identity .inner {
  width: 100%;
}
main .identity .iden_head {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 160px 0;
}
main .identity .iden_head img {
  width: 410px;
}
main .identity .iden_bg img {
  max-width: 100%;
  border: 0;
  vertical-align: top;
}
main .led_wrap {
  width: 100%;
  height: 45px;
  background: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #ff4713;
}
main .led_wrap .letter {
  position: absolute;
  display: inline-block;
  white-space: nowrap;
  background: none;
  /* width: 3200px; */
  overflow: hidden;
  animation: letter 35s linear infinite;
}
main .led_wrap .letter span {
  box-sizing: border-box;
  color: #ff4713;
  font-size: 36px;
  margin-right: 10px;
}
@keyframes letter {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
main .led_wrap .letter2 {
  animation-delay: -17.5s;
}
main .give_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 137px 70px;
}
main .give_wrap .inner {
  margin-left: 30px;
  width: 100%;
  height: 100%;
}
main .give_wrap .give_top span {
  font-weight: bold;
  /* line-height: 1.2; */
  word-break: keep-all;
}
main .give_wrap .give_top .tit {
  color: #ff4713;
  font-size: 60px;
  line-height: 1.2;
}
main .give_wrap .give_top .txt {
  color: #ff4713;
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 38px;
}
main .give_wrap .give_bottom {
  width: 770px;
  height: 294px;
}
main .give_wrap .give_bottom .count_wrap {
  margin-top: 90px;
  color: #ff4713;
  padding: 40px 60px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
main .give_wrap .give_bottom .count_wrap span {
  font-size: 22px;
  font-weight: 500;
}
main .give_wrap .give_bottom .count_wrap p {
  font-size: 140px;
  font-weight: 500;
  line-height: 156px;
}
main .give_wrap .give_bottom .count_wrap p ::after {
  content: "PACK";
  font-size: 32px;
  line-height: 44px;
  margin-left: 20px;
}
main .give_wrap .give_bottom .count_wrap em {
  font-size: 16px;
  line-height: 40px;
  opacity: 0.3;
}
main .give_wrap .circle_wrap {
  width: 40%;
  height: 100%;
  /* position: relative; */
}
main .give_wrap .circle_wrap .circle-line {
  position: absolute;
  top: 50%;
  right: -1rem;
  transform: translate(0, -50%);
  width: 396px;
  height: 792px;
  border-top-left-radius: 470px;
  border-bottom-left-radius: 470px;
  border: 2px solid rgba(235, 86, 46, 0.4);
}
main .give_wrap .circle_wrap .circle-line .main_con {
  background-image: url("../img/m-4th_sec-main_con_1.png");
  background-size: cover;
  width: 590px;
  height: 590px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  animation: main_con 5s ease-in-out infinite;
}
@keyframes main_con {
  0% {
    background-image: url("../img/m-4th_sec-main_con_1.png");
  }
  42.5% {
    background-image: url("../img/m-4th_sec-main_con_1.png");
  }
  50% {
    background-image: url("../img/m-4th_sec-con_1.png");
  }
  92.5% {
    background-image: url("../img/m-4th_sec-con_1.png");
  }
  100% {
    background-image: url("../img/m-4th_sec-main_con_1.png");
  }
}
main .give_wrap .circle_wrap .circle-line .top_con {
  background-image: url("../img/m-4th_sec-con_1.png");
  background-size: cover;
  width: 130px;
  height: 130px;
  position: absolute;
  top: -40px;
  left: 55%;
  animation: top_con 5s ease-in-out infinite;
}
@keyframes top_con {
  0% {
    background-image: url("../img/m-4th_sec-con_1.png");
  }
  42.5% {
    background-image: url("../img/m-4th_sec-con_1.png");
  }
  50% {
    background-image: url("../img/m-4th_sec-main_con_1.png");
  }
  92.5% {
    background-image: url("../img/m-4th_sec-main_con_1.png");
  }
  100% {
    background-image: url("../img/m-4th_sec-con_1.png");
  }
}
main .give_wrap .circle_wrap .circle-line .point_con {
  position: absolute;
  background-color: #ff4713;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  bottom: -2px;
  left: 75%;
}
main a.more_btn {
  display: block;
  width: 194px;
  height: 60px;
  border-radius: 30px;
  background-color: #ff4713;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  line-height: 56px;
  margin-top: 50px;
  transition: 0.3s ease-in-out;
}
main .board {
  width: 100%;
  height: 674px;
}
main .board .inner {
  width: 100%;
  height: 100%;
  display: flex;
  border-top: 1px solid rgba(111, 112, 112, 0.3);
}
main .board .bd_left {
  position: relative;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(111, 112, 112, 0.3);
}
main .board .bd_left .head {
  position: absolute;
  top: 40px;
  left: 80px;
  color: #ff4713;
  transform: translate(0);
  font-size: 100px;
  line-height: 100px;
  font-weight: 700;
  white-space: nowrap;
}
main .board .bd_left .direct {
  width: 186px;
  height: 186px;
  position: absolute;
  /* bottom: 0; */
  bottom: 0;
  left: 80px;
  transform: translate(0, 70%);
}
main .board .bd_left .direct .d-circle {
  width: 100%;
  height: 100%;
  animation: circle 5s linear infinite;
  transition: 5s linear infinite;
}
@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
main .board .bd_left .direct .d-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .board .bd_right {
  width: 60%;
}
main .board .bd_right .cont_box {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 60px;
  cursor: pointer;
  /* width: 100%; */
  border-left: 1px solid rgba(111, 112, 112, 0.3);
  border-bottom: 1px solid rgba(111, 112, 112, 0.3);
}
main .board .bd_right .cont_box .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 85%;
  color: #ff4713;
}
main .board .bd_right .cont_box .info em {
  font-size: 18px;
  line-height: 24px;
  opacity: 0.7;
}
main .board .bd_right .cont_box .info p {
  font-size: 24px;
  font-weight: 500;
  line-height: 33px;
  margin-top: 10px;
  margin-bottom: 13px;
  word-break: keep-all;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
main .board .bd_right .cont_box .info span {
  font-size: 16px;
  line-height: 24px;
  opacity: 0.6;
}
main .board .bd_right .cont_box .img_wrap {
  position: absolute;
  top: 0;
  right: 190px;
  width: 224.66px;
  height: 100%;
}
main .board .bd_right .cont_box .img_wrap :hover {
  opacity: 1;
}
main .board .bd_right .cont_box .img_wrap img {
  height: 100%;
  transition: 0.5s ease-in-out;
  opacity: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
main .board .bd_right .cont_box .arrow_wrap {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .sns_wrap .inner {
  background-color: #f7f6f3;
  padding-bottom: 130px;
}
main .sns_wrap .s-head {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  margin-bottom: 130px;
}
main .sns_wrap .s-head div {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .sns_wrap .s-head p {
  font-size: 50px;
  font-weight: bold;
  line-height: 117px;
  margin-left: 16px;
  color: #ff4713;
}
main .sns_wrap .s-img ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
}
main .sns_wrap .s-img li {
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
}
main .sns_wrap .s-img li :last-child {
  margin-right: 0;
}
main .sns_wrap .s-img a figure {
  width: 338px;
  height: 338px;
}
main .sns_wrap .s-img a :hover img {
  transform: scale(1.2);
}
main .sns_wrap .s-img img {
  width: 100%;
  transition: all 0.2s linear;
}

footer {
  background: #ff4713;
}
footer .inner {
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
footer .inner h2 {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 40px;
}
footer .link_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
footer .link_wrap a {
  margin: 0 36px;
}
footer .link_wrap a .policy {
  color: #fff;
  font-weight: 500;
}
footer .foot_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
}
footer .foot_info div {
  display: inline-block;
}
footer .foot_info span {
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.35px;
  margin: 0 10px;
  word-break: keep-all;
}
footer .foot_info .bar {
  width: 1px;
  height: 13px;
  background-color: white;
  margin-top: 2px;
  opacity: 0.2;
}
footer .foot_info .bar :last-child {
  opacity: 0;
}
footer .copy {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 65px;
}
footer .copy span {
  font-size: 12px;
  line-height: 26px;
  letter-spacing: 0.5px;
  font-weight: 300;
}
footer .top_scrolls {
  cursor: pointer;
  position: absolute;
  top: 13%;
  right: 6%;
  z-index: 100;
  text-align: center;
}
footer .top_scrolls .btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .top_scrolls .btn .circle {
  width: 50px;
}
footer .top_scrolls .btn .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
}
footer .top_scrolls span {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.35px;
  margin-top: 10px;
  color: #fff;
}

/* 태블릿 */
@media screen and (max-width: 1500px) {
  header .gnb li {
    margin: 0 25px;
  }
}