main {
  background-color: #f7f6f3;

  .history_wrap {
    .inner {
      padding-top: 220px;
      padding-bottom: 200px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .history_head {
        width: 80%;
        display: flex;
        flex-direction: column;

        span {
          font-size: 65px;
          font-weight: bold;
          line-height: 100px;
          color: #ff4713;
        }

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 60px;
          margin-bottom: 120px;
        }
        a{
          font-size: 20px;
          font-weight: bold;
          line-height: 1;
          color: #ff4713;
          z-index: 9;
          padding-top: 5px;
          border-top: 1px solid #ff4713;
          margin-right: 45px;
          opacity: 0.5;
        }
        a.on {
          font-size: 20px;
          font-weight: bold;
          line-height: 1;
          opacity: 1;
          color: #ff4713;
          z-index: 9;
          padding-top: 5px;
          border-top: 1px solid #ff4713;
          margin-right: 45px;

        }

        a:last-child {
          margin-right: 0;
        }

      }




      .history-work {
        background-color: #f7f6f3;
        position: sticky;
        display: flex;
        top: 50%;
        top: 0;
        gap: 100px;
        padding: 180px 0 200px;

        .year_box {
         

          .year-front {
            //padding-bottom: 260px;
            font-size: 250px;
            font-weight: bold;
            color: #ff4713;
            padding-right: 50px;
            line-height: 200px;
          }
        }
      }

      .history-cont {
        display: flex;

        .unfixed {}

        .year-back-box {
          .work {
            width: 100%;

            .work-list {
              .month {}

              .txt_box {
                .text {}
              }
            }
          }
        }


        .work-list {
          display: flex;
          margin-bottom: 50px;

          .month {
            font-size: 30px;
            font-weight: 500;
            margin-right: 100px;
            color: #ff4713;
            white-space: nowrap;
            line-height: 36px;
          }

          .txt_box {
            .text {
              display: block;
              font-size: 21px;
              line-height: 36px;
              color: #ff4713;
              word-break: keep-all;
            }
          }
        }
      }

      .bottom_border {
        width: 800px;
        position: absolute;
        left: 48%;

        height: 1px;
        background: #dfdfe0;
        z-index: 0;
      }

    }
  }
}



@media screen and (max-width: 1430px) {

  main {
    background-color: #f7f6f3;
  
    .history_wrap {
      .inner {
        padding-top: 220px;
        padding-bottom: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
        .history_head {
          width: 80%;
          display: flex;
          flex-direction: column;
  
          span {
            font-size: 65px;
            font-weight: bold;
            line-height: 100px;
            color: #ff4713;
          }
  
          div {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 60px;
            margin-bottom: 120px;
          }
  
          a {
            font-size: 20px;
            font-weight: bold;
            line-height: 1;
            color: #ff4713;
            z-index: 9;
            padding-top: 5px;
            border-top: 1px solid #ff4713;
            margin-right: 45px;
  
          }
  
          a:last-child {
            margin-right: 0;
          }
  
        }
  
  
  
  
        .history-work {
         width: initial;
          background-color: #f7f6f3;
          position: sticky;
          display: flex;
          /* width: 100%; */
          top: 50%;
          top: 0;
          gap: 0;
          padding: 100px 0 200px;
  
          .year_box {
           
  
            .year-front {
              //padding-bottom: 260px;
              font-size: 210px;
              font-weight: bold;
              color: #ff4713;
             // margin-right: 800px;
            }
          }
        }
  
        .history-cont {
          display: flex;
  
          .unfixed {}
  
          .year-back-box {
            .work {
              width: 100%;
  
              .work-list {
                .month {
                  margin-right: 50px;
                }
  
                .txt_box {
                  .text {}
                }
              }
            }
          }
  
  
          .work-list {
            display: flex;
            margin-bottom: 50px;
  
            .month {
              font-size: 30px;
              font-weight: 500;
              margin-right: 100px;
              color: #ff4713;
              white-space: nowrap;
              line-height: 36px;
            }
  
            .txt_box {
              .text {
                display: block;
                font-size: 21px;
                line-height: 36px;
                color: #ff4713;
                word-break: keep-all;
              }
            }
          }
        }
  
        .bottom_border {
          width: 725px;
          position: absolute;
          left: 47.5%;
          bottom: 0;
          height: 1px;
          background: #dfdfe0;
          z-index: 0;
        }
  
      }
    }
  }
  

}