
body {}

main {}

.main_vis {}
.main_vis .inner {}
.main_vis .inner .slide01 {}
.main_vis .inner .slide01 ul {}
.main_vis .inner .slide01 ul li {}
.main_vis .inner .slide01 ul li a {}
.main_vis .inner .slide01 img {
    width: 100%;
    object-fit: cover;
}

.main_menu .inner .toping {}
.main_menu .toping p {}
.main_menu .toping ul {}
.main_menu .toping ul > li {}
.main_menu .toping ul > li > a {}

.main_menu .swiper-slide img {
    }

/*  */

.main_menu{}
.main_menu .inner{}
.main_menu .half_con{
    width: calc(100%/2);
    position: relative;
    height: 100%;
}
.main_menu .half_con h2{}
.main_menu .half_con .slide02{}
.main_menu .half_con .slide02 ul{}
.main_menu .half_con .slide02 ul li{}
.main_menu .half_con .slide02 ul li a{}
.main_menu .half_con .slide02 ul li a img{}
.main_menu .half_con .slide02 .im-01{}



.main_menu .half_con .cate_btn{}
.main_menu .half_con .cate_btn ul{}
.main_menu .half_con .cate_btn ul li{}
.main_menu .half_con .cate_btn ul li button{}
.main_menu .half_con .cate_btn button.sig{}
















.identity {}
.identity .inner {
    width: 100%;
}
.identity .inner .iden_head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 160px 0;
}
.identity .inner .iden_head img {
    width: 410px;
}
.identity .inner .iden_bg {}
.identity .inner .iden_bg img {
    max-width: 100%;
    border: 0;
    vertical-align: top;
}

.identity .led_wrap {
    width: 100%;
    height: 45px;
    background: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    padding-bottom: 30px;
    border-bottom: 1px solid orangered;

}
.identity .led_wrap .letter {
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    background: none;
    /* width: 3200px; */
    overflow: hidden;

    animation: letter 35s linear infinite;
    span{
        display: block;
        box-sizing: border-box;
        color: orangered;
        font-size: 36px;
        margin-right: 10px;
        }
    img{}
    }


@keyframes letter {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.identity .led_wrap .letter span {
    display: inline-block;
    box-sizing: border-box;
    color: orangered;
    font-size: 36px;
    margin-right: 10px;
}
.identity .led_wrap .letter span img {}

.identity .led_wrap .letter2 {
    animation-delay: -17.5s;
}

/*  */

.give_wrap {

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    overflow: hidden;
    padding: 137px 70px;
}
.give_wrap .inner {
    margin-left: 30px;

    width: 100%;
    height: 100%;
}
.give_wrap .give_top {}
.give_wrap .give_top span {

    font-weight: bold;
    /* line-height: 1.2; */
    word-break: keep-all;
}
.give_wrap .give_top .tit {
    color: orangered;
    font-size: 60px;
}
.give_wrap .give_top .txt {
    color: orangered;
    display: block;
    font-size: 18px;
    font-weight: 400;
    margin-top: 38px;
}

.give_wrap .give_bottom {
    width: 770px;
    height: 294px;
}
.give_wrap .give_bottom .count_wrap {

    margin-top: 90px;

    color: orangered;
    padding: 40px 60px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.give_wrap .give_bottom .count_wrap span {
    font-size: 22px;
    font-weight: 500;
}
.give_wrap .give_bottom .count_wrap p {
    font-size: 140px;

    font-weight: 500;
    line-height: 156px;
}

.give_wrap .give_bottom .count_wrap p::after {
    content: 'PACK';
    font-size: 32px;
    line-height: 44px;
    margin-left: 20px;
}

.give_wrap .give_bottom .count_wrap em {
    font-size: 16px;
    line-height: 40px;
    opacity: 0.3;
}

.give_wrap .circle_wrap {
    width: 40%;
    height: 100%;
    /* position: relative; */
}

.circle_wrap .circle-line {
    position: absolute;
    top: 50%;
    right: -1rem;
    transform: translate(0, -50%);
    width: 396px;
    height: 792px;
    border-top-left-radius: 470px;
    border-bottom-left-radius: 470px;
    border: 2px solid rgba(235, 86, 46, 0.4);
}
.circle_wrap .circle-line .main_con {
    /* 백그라운드 이미지를 불러올땐 url과 같이쓰고
    사이즈는 커버 width와 heigt값을 줘야 
    이미지가 나온다  */
    background-image: url("../img/m-4th_sec-main_con_1.png");
    background-size: cover;
    width: 590px;
    height: 590px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    animation: main_con 5s ease-in-out infinite;
}

@keyframes main_con {
    0% {
        background-image: url("../img/m-4th_sec-main_con_1.png");
    }

    42.5% {
        background-image: url("../img/m-4th_sec-main_con_1.png");
    }

    50% {
        background-image: url("../img/m-4th_sec-con_1.png");
    }

    92.5% {
        background-image: url("../img/m-4th_sec-con_1.png");
    }

    100% {
        background-image: url("../img/m-4th_sec-main_con_1.png");
    }
}

.circle_wrap .circle-line .top_con {
    background-image: url("../img/m-4th_sec-con_1.png");
    background-size: cover;
    width: 130px;
    height: 130px;
    position: absolute;
    top: -40px;
    left: 55%;
    animation: top_con 5s ease-in-out infinite;
}

@keyframes top_con {
    0% {
        background-image: url("../img/m-4th_sec-con_1.png");
    }
    42.5% {
        background-image: url("../img/m-4th_sec-con_1.png");

    }
    50% {
        background-image: url("../img/m-4th_sec-main_con_1.png");
    }
    92.5% {
        background-image: url("../img/m-4th_sec-main_con_1.png");
    }
    100% {
        background-image: url("../img/m-4th_sec-con_1.png");
    }
}

.circle_wrap .circle-line .point_con {
    position: absolute;
    background-color: orangered;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    bottom: -2px;
    left: 75%;
}

.give_wrap a.more_btn {
    display: block;
    width: 194px;
    height: 60px;
    border-radius: 30px;

    background-color: orangered;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    line-height: 56px;
    margin-top: 50px;
    transition: 0.3s ease-in-out;

}

/*  */

.board {
    width: 100%;
    height: 674px;
}
.board .inner {
    width: 100%;
    height: 100%;
    display: flex;
    border-top: 1px solid rgba(111, 112, 112, 0.3);
}
.board .inner .bd_left {
    position: relative;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(111, 112, 112, 0.3);
}
.board .inner .bd_left .head {
    position: absolute;
    top: 40px;
    left: 80px;
    color: orangered;
    transform: translate(0);
    font-size: 100px;
    line-height: 100px;
    font-weight: 700;
    white-space: nowrap;
}
.board .inner .bd_left .head h2 {}

.board .inner .bd_left .direct {
    width: 186px;
    height: 186px;
    position: absolute;
    /* bottom: 0; */
    bottom: 0px;
    left: 80px;
    transform: translate(0, 70%);

   
}
.board .inner .bd_left .d-circle {
    animation: circle 5s linear infinite;
    transition: 5s linear infinite;
}

@keyframes circle{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}




.board .inner .bd_left .d-circle {
    width: 100%;
    height: 100%;
}
.board .inner .bd_left .d-arrow{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.board .inner .bd_right {
    width: 60%;
}
.board .inner .bd_right .cont_box {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 60px;
    cursor: pointer;
    /* width: 100%; */
    border-left: 1px solid rgba(111, 112, 112, 0.3);
    border-bottom: 1px solid rgba(111, 112, 112, 0.3);
}
.board .inner .cont_box .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 85%;
    color: orangered;
}
.board .inner .cont_box .info .tit {
    font-size: 18px;
    line-height: 24px;
    opacity: 0.7;
}
.board .inner .cont_box .info .name {
    font-size: 24px;
    font-weight: 500;
    line-height: 33px;
    margin-top: 10px;
    margin-bottom: 13px;
    word-break: keep-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.board .inner .cont_box .info .day {
    font-size: 16px;
    line-height: 24px;
    opacity: 0.6;
}

.board .inner .cont_box .img_wrap {
    position: absolute;
    top: 0;
    right: 190px;
    width: 224.66px;
    height: 100%;
}
.board .inner .cont_box .img_wrap img {
    height: 100%;
    transition: 0.5s ease-in-out;
    opacity: 0;
    object-fit: cover;
}
.board .inner .cont_box .img_wrap img:hover{
    opacity: 1;
}

.board .inner .cont_box .arrow_wrap {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.board .inner .cont_box .arrow_wrap img {}

/*  */

.sns_wrap {}
.sns_wrap .inner {
    margin-bottom: 130px;
}
.sns_wrap .inner .s-head {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    margin-bottom: 130px;
}
.sns_wrap .inner .s-head div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sns_wrap .inner .s-head div img.star {}
.sns_wrap .inner .s-head div p {
    font-size: 50px;
    font-weight: bold;
    line-height: 117px;
    margin-left: 16px;
    color: #ff4713;
}

.sns_wrap .inner .s-img.inner {}
.sns_wrap .inner .s-img.inner ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
}
.sns_wrap .inner .s-img.inner ul li {
    margin-left: 10px;
    margin-right: 10px;
    
}
.sns_wrap .inner .s-img.inner ul li:last-child{
    margin-right: 0;
}
.sns_wrap .inner .s-img.inner ul li a {}
.sns_wrap .inner .s-img.inner ul li a figure{
    width: 338px;
    height: 338px;
}
.sns_wrap .inner .s-img.inner ul li a img {
    width: 100%;
    margin: 0 10px;
}
