main {
  background-color: #f7f6f3;

  .history_wrap {
    padding-bottom: 180px;

    .inner {
      padding-top: 180px;
    }

    .history_head {
      span {
        margin-left: 10%;
        font-size: 65px;
        font-weight: bold;
        line-height: 100px;
        color: #ff4713;
        white-space: nowrap;
      }

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 120px;
      }

      a {
        font-size: 20px;
        font-weight: bold;
        line-height: 1;
        color: #ff4713;
        z-index: 9;
        padding-top: 5px;
        border-top: 1px solid #ff4713;
      }

      a:first-child {
        opacity: 0.5;
        margin-right: 45px;
      }

      a {}
    }

    .main_list {
      margin-bottom: 80px;

      ul {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      li {}

      li:nth-child(2) {
        margin: 0 30px;
      }

      a {
        width: 340px;
        height: 340px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #dfdfe0;
      }


      img {
        width: 164px;
        margin-bottom: 40px;
      }

      span {
        display: flex;
        text-align: center;
        color: #ff4713;
        font-size: 26px;
        line-height: 32px;
        font-weight: 500;

      }
    }

    .sub_list {
      .list_award {
        display: flex;
        justify-content: center;

        ul {
          width: 1080px;
          display: flex;
          flex-direction: column;
        }

        li {
          position: relative;
          border-top: 1px solid #dfdfe0;
          padding: 40px 0;
        }

        li:last-child {
          border-bottom: 1px solid #dfdfe0;
        }

        a {}

        .inn {
          display: flex;
          position: relative;
        }

        .side {
          position: absolute;
          right: 0;
          top: 0;
          width: 100px;
          height: 30px;
          background: orangered;
          color: white;
          font-size: 16px;
          line-height: 27px;
          vertical-align: middle;
          font-weight: bold;
          text-align: center;
        }

        .img_wrap {
          figure {
            width: 128px;
            margin-right: 32px;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }

        .txt_wrap {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;

          span {}

          :first-child {
            font-size: 26px;
            font-weight: 500;
            margin-bottom: 4px;
            color: #ff4713;
            word-break: keep-all;
          }

          :nth-child(2) {
            font-size: 16px;
            margin-bottom: 15px;
            font-weight: 500;
            opacity: 0.5;
            color: #ff4713;
          }

          :last-child {
            font-size: 18px;
            line-height: 32px;
            font-weight: 400;
            color: #ff4713;
          }
        }

      }
    }
  }

  .pagination {
    margin-top: 60px;

    ul {
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    li {
      width: 36px;
      height: 100%;
      text-align: center;
    }

    a {
      font-size: 12px;
      font-family: var(--font-proxima);
      font-weight: 400;
      line-height: 36px;
    }

    li {
      color: #ff4713;
    }

    li.on {
      background-color: orangered;
      width: 34px;
      height: 34px;
      border-radius: 18px;
      text-align: center;
      display: inline-block;
      line-height: 33px;
      color: #fff;
    }

    a {}
  }

}




@media screen and (max-width: 1120px) {
  main {
    background-color: #f7f6f3;

    .history_wrap {
      padding-bottom: 180px;

      .inner {
        padding-top: 180px;
      }

      .history_head {
        text-align: center;

        span {
          margin-left: 0;
          font-size: 65px;
          font-weight: bold;
          line-height: 100px;
          color: #ff4713;
          white-space: nowrap;
        }

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 60px;
          margin-bottom: 120px;
        }

        a {
          font-size: 20px;
          font-weight: bold;
          line-height: 1;
          color: #ff4713;
          z-index: 9;
          padding-top: 5px;
          border-top: 1px solid #ff4713;
        }

        a:first-child {
          opacity: 0.5;
          margin-right: 45px;
        }

        a {}
      }

      .main_list {
        margin-bottom: 80px;

        ul {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        li {
          width: 260px;
          height: 330px;
        }

        li:nth-child(2) {
          margin: 0 30px;
        }

        a {
          width: 260px;
          height: 330px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: 1px solid #dfdfe0;
        }


        img {
          width: 140px;
          margin-bottom: 40px;
        }

        span {
          display: flex;
          text-align: center;
          color: #ff4713;
          font-size: 21px;
          line-height: 32px;
          font-weight: 500;

        }
      }

      .sub_list {
        .list_award {
          display: flex;
          justify-content: center;

          ul {
            width: 90%;
            display: flex;
            flex-direction: column;
          }

          li {
            position: relative;
            border-top: 1px solid #dfdfe0;
            padding: 40px 0;
          }

          li:last-child {
            border-bottom: 1px solid #dfdfe0;
          }

          a {}

          .inn {
            display: flex;
            position: relative;
          }

          .side {
            position: absolute;
            right: 0;
            top: 0;
            width: 100px;
            height: 30px;
            background: orangered;
            color: white;
            font-size: 16px;
            line-height: 27px;
            vertical-align: middle;
            font-weight: bold;
            text-align: center;
          }

          .img_wrap {
            figure {
              width: 128px;
              margin-right: 32px;

              img {
                width: 100%;
                height: 100%;
              }
            }
          }

          .txt_wrap {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            span {}

            :first-child {
              font-size: 26px;
              font-weight: 500;
              margin-bottom: 4px;
              color: #ff4713;
              word-break: keep-all;
            }

            :nth-child(2) {
              font-size: 16px;
              margin-bottom: 15px;
              font-weight: 500;
              opacity: 0.5;
              color: #ff4713;
            }

            :last-child {
              font-size: 18px;
              line-height: 32px;
              font-weight: 400;
              color: #ff4713;
            }
          }

        }
      }
    }

    .pagination {
      margin-top: 60px;

      ul {
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      li {
        width: 36px;
        height: 100%;
        text-align: center;
      }

      a {
        font-size: 12px;
        font-family: var(--font-proxima);
        font-weight: 400;
        line-height: 36px;
      }

      li {
        color: #ff4713;
      }

      li.on {
        background-color: orangered;
        width: 34px;
        height: 34px;
        border-radius: 18px;
        text-align: center;
        display: inline-block;
        line-height: 33px;
        color: #fff;
      }

      a {}
    }

  }
}

@media screen and (max-width: 900px) {
  main {
    background-color: #f7f6f3;

    .history_wrap {
      padding-bottom: 180px;

      .inner {
        padding-top: 180px;
      }

      .history_head {
        text-align: center;

        span {
          margin-left: 0;
          font-size: 52px;
          font-weight: bold;
          line-height: 100px;
          color: #ff4713;
          white-space: nowrap;
        }

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 60px;
          margin-bottom: 65px;
        }

        a {
          font-size: 20px;
          font-weight: bold;
          line-height: 1;
          color: #ff4713;
          z-index: 9;
          padding-top: 5px;
          border-top: 1px solid #ff4713;
        }

        a:first-child {
          opacity: 0.5;
          margin-right: 45px;
        }

        a {}
      }

      .main_list {
        margin-bottom: 80px;

        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 70%;
          margin: 0 auto;
        }

        li {
          width: 260px;
          height: 330px;
        }

        li:nth-child(2) {
          margin: 0 30px;
        }

        a {
          width: 190px;
          height: 260px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: 1px solid #dfdfe0;
        }


        img {
          width: 120px;
          margin-bottom: 0;
        }

        span {
          display: flex;
          text-align: center;
          color: #ff4713;
          font-size: 18px;
          line-height: 1.3;
          font-weight: 500;
          margin-top: 20px;

        }
      }

      .sub_list {
        .list_award {
          display: flex;
          justify-content: center;

          ul {
            width: 90%;
            display: flex;
            flex-direction: column;
          }

          li {
            position: relative;
            border-top: 1px solid #dfdfe0;
            padding: 40px 0;
          }

          li:last-child {
            border-bottom: 1px solid #dfdfe0;
          }

          a {}

          .inn {
            display: flex;
            position: relative;
          }

          .side {
            position: absolute;
            right: 0;
            top: 0;
            width: 100px;
            height: 30px;
            background: orangered;
            color: white;
            font-size: 16px;
            line-height: 27px;
            vertical-align: middle;
            font-weight: bold;
            text-align: center;
          }

          .img_wrap {
            figure {
              width: 100px;
              margin-right: 32px;

              img {
                width: 100%;
                height: 100%;
              }
            }
          }

          .txt_wrap {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            span {}

            :first-child {
              font-size: 18px;
              font-weight: 500;
              margin-bottom: 4px;
              color: #ff4713;
              word-break: keep-all;
            }

            :nth-child(2) {
              font-size: 16px;
              margin-bottom: 15px;
              font-weight: 500;
              opacity: 0.5;
              color: #ff4713;
            }

            :last-child {
              font-size: 18px;
              line-height: 32px;
              font-weight: 400;
              color: #ff4713;
            }
          }

        }
      }
    }

    .pagination {
      margin-top: 60px;

      ul {
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      li {
        width: 36px;
        height: 100%;
        text-align: center;
      }

      a {
        font-size: 12px;
        font-family: var(--font-proxima);
        font-weight: 400;
        line-height: 36px;
      }

      li {
        color: #ff4713;
      }

      li.on {
        background-color: orangered;
        width: 34px;
        height: 34px;
        border-radius: 18px;
        text-align: center;
        display: inline-block;
        line-height: 33px;
        color: #fff;
      }

      a {}
    }

  }
}

@media screen and (max-width: 700px) {
  main {
    background-color: #f7f6f3;

    .history_wrap {
      padding-bottom: 180px;

      .inner {
        padding-top: 180px;
      }

      .history_head {
        text-align: center;

        span {
          margin-left: 0;
          font-size: 52px;
          font-weight: bold;
          line-height: 100px;
          color: #ff4713;
          white-space: nowrap;
        }

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 50px;
          margin-bottom: 65px;
        }

        a {
          font-size: 20px;
          font-weight: bold;
          line-height: 1;
          color: #ff4713;
          z-index: 9;
          padding-top: 5px;
          border-top: 1px solid #ff4713;
        }

        a:first-child {
          opacity: 0.5;
          margin-right: 45px;
        }

        a {}
      }

      .main_list {
        margin-bottom: 5px;

        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 70%;
          margin: 0 auto;
        }

        li {
          width: 260px;
          height: 330px;
        }

        li:nth-child(2) {
          margin: 0px 10px;
        }

        a {
          width: 180px;
          height: 240px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: 1px solid #dfdfe0;
        }


        img {
          width: 100px;
          margin-bottom: 0;
        }

        span {
          display: flex;
          text-align: center;
          color: #ff4713;
          font-size: 18px;
          line-height: 1.3;
          font-weight: 500;
          margin-top: 20px;

        }
      }

      .sub_list {
        .list_award {
          display: flex;
          justify-content: center;

          ul {
            width: 90%;
            display: flex;
            flex-direction: column;
          }

          li {
            position: relative;
            border-top: 1px solid #dfdfe0;
            padding: 40px 0;
          }

          li:last-child {
            border-bottom: 1px solid #dfdfe0;
          }

          a {}

          .inn {
            display: flex;
            position: relative;
          }

          .side {
            position: absolute;
            right: 0;
            top: 0;
            width: 75px;
            height: 25px;
            background: orangered;
            color: white;
            font-size: 14px;
            line-height: 23px;
            vertical-align: middle;
            font-weight: bold;
            text-align: center;
          }

          .img_wrap {
            figure {
              width: 80px;
              margin-right: 32px;

              img {
                width: 100%;
                height: 100%;
              }
            }
          }

          .txt_wrap {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            span {}

            :first-child {
              font-size: 18px;
              font-weight: 500;
              margin-bottom: 4px;
              color: #ff4713;
              word-break: keep-all;
            }

            :nth-child(2) {
              font-size: 16px;
              margin-bottom: 15px;
              font-weight: 500;
              opacity: 0.5;
              color: #ff4713;
            }

            :last-child {
              font-size: 18px;
              line-height: 32px;
              font-weight: 400;
              color: #ff4713;
            }
          }

        }
      }
    }

    .pagination {
      margin-top: 60px;

      ul {
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      li {
        width: 36px;
        height: 100%;
        text-align: center;
      }

      a {
        font-size: 12px;
        font-family: var(--font-proxima);
        font-weight: 400;
        line-height: 36px;
      }

      li {
        color: #ff4713;
      }

      li.on {
        background-color: orangered;
        width: 34px;
        height: 34px;
        border-radius: 18px;
        text-align: center;
        display: inline-block;
        line-height: 33px;
        color: #fff;
      }

      a {}
    }

  }
}

@media screen and (max-width: 500px) {
  main {
    background-color: #f7f6f3;

    .history_wrap {
      padding-bottom: 180px;

      .inner {
        padding-top: 180px;
      }

      .history_head {
        text-align: center;

        span {
          margin-left: 0;
          font-size: 40px;
          font-weight: bold;
          line-height: 100px;
          color: #ff4713;
          white-space: nowrap;
        }

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 60px;
          margin-bottom: 65px;
        }

        a {
          font-size: 16px;
          font-weight: bold;
          line-height: 1;
          color: #ff4713;
          z-index: 9;
          padding-top: 5px;
          border-top: 1px solid #ff4713;
        }

        a:first-child {
          opacity: 0.5;
          margin-right: 20px;
        }

        a {}
      }

      .main_list {
        margin-bottom: 40px;

        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 90%;
          margin: 0 auto;
          flex-wrap: wrap;
        }

        li {
          width: 100%;
          height: 100%;
        }

        li:nth-child(2) {
          margin: 0;
        }

        a {
          flex-direction: unset;
          width: 100%;
          height: 130px;
          margin-bottom: 15px;
        }


        img {
          width: 100px;
          margin-bottom: 0;
          margin-right: 30px;
        }

        span {
          width: 158px;
          display: flex;
          text-align: center;
          color: #ff4713;
          font-size: 16px;
          line-height: 1.3;
          font-weight: 500;
          margin-top: 0;

        }
      }

      .sub_list {
        .list_award {
          display: flex;
          justify-content: center;

          ul {
            width: 90%;
            display: flex;
            flex-direction: column;
          }

          li {
            position: relative;
            border-top: 1px solid #dfdfe0;
            padding: 30px 0;
          }

          li:last-child {
            border-bottom: 1px solid #dfdfe0;
          }

          a {}

          .inn {
            display: flex;
            position: relative;
          }

          .side {
            position: absolute;
            right: 0;
            top: 0;
            width: 50px;
            height: 20px;
            background: orangered;
            color: white;
            font-size: 12px;
            line-height: 18px;
            vertical-align: middle;
            font-weight: bold;
            text-align: center;
          }

          .img_wrap {
            figure {
              width: 100px;
              margin-right: 13px;

              img {
                width: 80px;
                height: 100%;
              }
            }
          }

          .txt_wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;

            span {}

            :first-child {
              font-size: 16px;
              font-weight: 500;
              margin-bottom: 6px;
              margin-top: 10px;
              color: #ff4713;
              word-break: keep-all;
            }

            :nth-child(2) {
              font-size: 13px;
              margin-bottom: 15px;
              font-weight: 500;
              opacity: 0.5;
              color: #ff4713;
            }

            :last-child {
              font-size: 14px;
              line-height: 32px;
              font-weight: 400;
              color: #ff4713;
            }
          }

        }
      }
    }

    .pagination {
      margin-top: 60px;

      ul {
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      li {
        width: 36px;
        height: 100%;
        text-align: center;
      }

      a {
        font-size: 12px;
        font-family: var(--font-proxima);
        font-weight: 400;
        line-height: 36px;
      }

      li {
        color: #ff4713;
      }

      li.on {
        background-color: orangered;
        width: 34px;
        height: 34px;
        border-radius: 18px;
        text-align: center;
        display: inline-block;
        line-height: 33px;
        color: #fff;
      }

      a {}
    }

  }
}