.swiper-pagination-bullet, 
.swiper-pagination-bullet:only-child{ 
    display: block !important;
    opacity:1 !important;
    width:auto !important;
    height:auto !important;
    background-color: transparent;
    outline:none;
}
.swiper-pagination-bullet-active{
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 3px;
    text-decoration-color: #fff;
}