main {
  background-color: #f7f6f3;
}
main .wrap .inner {
  padding-top: 40px;
}
main .wrap .new_head h2 {
  margin-left: 10%;
  font-size: 65px;
  font-weight: bold;
  line-height: 100px;
  color: #ff4713;
  white-space: nowrap;
}
main .wrap .cate_con .tab-content {
  display: none;
}
main .wrap .cate_con .tab-content.on {
  display: block;
}
main .wrap .cate_list .cate_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 120px;
  /*       a.new.on {
           font-size: 23px;
           margin: 0 22.5px;
           font-weight: bold;
           line-height: 1;
           color: #ff4713;
           z-index: 9;
           padding-top: 7px;
           border-top: 1px solid #ff4713;
         }

         a.file {
           font-size: 23px;
           margin: 0 22.5px;
           opacity: 0.39;
           font-weight: bold;
           color: #ff4713;
           z-index: 9;
           padding-top: 7px;
           border-top: 1px solid #ff4713;
         }

     */
}
main .wrap .cate_list .cate_wrap a.on {
  opacity: 1;
  font-size: 23px;
  margin: 0 22.5px;
  font-weight: bold;
  line-height: 1;
  color: #ff4713;
  z-index: 9;
  padding-top: 7px;
  border-top: 1px solid #ff4713;
}
main .wrap .cate_list .cate_wrap a {
  font-size: 23px;
  margin: 0 22.5px;
  font-weight: bold;
  line-height: 1;
  color: #ff4713;
  z-index: 9;
  padding-top: 7px;
  border-top: 1px solid #ff4713;
  opacity: 0.39;
}
main .what_new_wrap .what_new_ing {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
}
main .what_new_wrap .what_new_ing .title {
  width: 1250px;
  margin: 0 auto;
}
main .what_new_wrap .what_new_ing h3 {
  font-size: 23px;
  font-weight: bold;
  color: #ff4713;
  display: inline-block;
}
main .what_new_wrap .what_new_ing ul {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  width: 1250px;
  margin: 0 auto;
}
main .what_new_wrap .what_new_ing li {
  width: calc((100% - 120px) / 4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-left: 40px;
  margin-top: 48px;
  transition: 0.3s ease;
}
main .what_new_wrap .what_new_ing li:nth-child(4n-3) {
  margin-left: 0;
}
main .what_new_wrap .what_new_ing .img_wrap figure {
  position: relative;
  width: 100%;
}
main .what_new_wrap .what_new_ing .img_wrap img {
  width: 270px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .what_new_wrap .what_new_ing .txt_wrap {
  width: 100%;
  margin-top: 15px;
  line-height: 1;
}
main .what_new_wrap .what_new_ing .txt_wrap span {
  font-size: 15px;
  font-weight: bold;
  color: #ff4713;
  display: inline-block;
  margin-bottom: 6px;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
main .what_new_wrap .what_new_ing .txt_wrap p {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  color: #ff4713;
}
main .what_end_wrap .event_head {
  width: 1250px;
  /* margin: 0 auto; */
  margin: 0 auto;
}
main .what_end_wrap .event_head h3 {
  font-size: 23px;
  font-weight: bold;
  color: #ff4713;
  display: inline-block;
}
main .what_end_wrap ul {
  display: flex;
  flex-wrap: wrap;
  width: 1250px;
  margin: 0 auto;
}
main .what_end_wrap li {
  width: calc((100% - 120px) / 4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-left: 40px;
  margin-top: 80px;
  transition: 0.3s ease;
}
main .what_end_wrap li:first-child {
  margin-top: 80px;
}
main .what_end_wrap .li:nth-child(2),
main .what_end_wrap .li:nth-child(3),
main .what_end_wrap .li:nth-child(4) {
  margin-top: 0;
}
main .what_end_wrap li:nth-child(4n-3) {
  margin-left: 0;
}
main .what_end_wrap .img_wrap {
  position: relative;
}
main .what_end_wrap .img_wrap figure.mk {
  width: 90px;
  position: absolute;
  z-index: 1;
  /* top: 0; */
  top: 90px;
  left: 90px;
}
main .what_end_wrap .img_wrap figure.mk img {
  width: 100%;
  height: 100%;
}
main .what_end_wrap .img_wrap figure.pt {
  filter: brightness(50%);
  width: 270px;
}
main .what_end_wrap .img_wrap figure.pt img {
  width: 100%;
  height: 100%;
}
main .what_end_wrap .txt_wrap {
  width: 100%;
  margin-top: 15px;
  line-height: 1;
}
main .what_end_wrap .txt_wrap span {
  font-size: 15px;
  font-weight: 500;
  color: #ff4713;
  display: inline-block;
  margin-bottom: 6px;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
main .what_end_wrap .txt_wrap p {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  color: #ff4713;
}
main .data_wrap .inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .data_wrap .report_table {
  width: 1280px;
}
main .data_wrap .report_table .table_box {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #f7f6f3;
  border-bottom: 1px solid #ff4713;
  padding: 25px;
  transition: 0.3s ease;
}
main .data_wrap .report_table .table_box:first-child {
  border-top: 1px solid #ff4713;
}
main .data_wrap .report_table .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .data_wrap .report_table .wrap .title {
  display: flex;
  flex-direction: column;
  color: #ff4713;
}
main .data_wrap .report_table .wrap .title em {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  opacity: 0.4;
}
main .data_wrap .report_table .wrap .title p {
  font-size: 18px;
  font-weight: bold;
}
main .data_wrap .report_table .wrap .date {
  display: flex;
}
main .data_wrap .report_table .wrap .date .datin {
  display: flex;
  align-items: center;
  color: #ff4713;
  font-size: 16px;
  font-weight: normal;
  display: flex;
  align-items: center;
}
main .data_wrap .report_table .wrap .date .arrow {
  cursor: pointer;
  background-image: url(../img/arrow-down.png);
  background-size: cover;
  width: 23px;
  height: 23px;
  margin-left: 48px;
  margin-bottom: 8px;
}

.pagination {
  margin-top: 60px;
  padding-bottom: 100px;
}
.pagination ul {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination li {
  width: 34px;
  height: 34px;
  border-radius: 18px;
  text-align: center;
  display: inline-block;
  line-height: 33px;
  color: #ff4713;
}
.pagination li.on {
  background-color: orangered;
  width: 34px;
  height: 34px;
  border-radius: 18px;
  text-align: center;
  display: inline-block;
  line-height: 33px;
  color: #fff;
}
.pagination a {
  font-size: 12px;
  font-family: var(--font-proxima);
  font-weight: 400;
  line-height: 36px;
}